<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3oXyU0r3XIqmMv3bI5HFvr1J7EMnhxT0</string>
	<key>GCM_SENDER_ID</key>
	<string>808459620287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>COMP350.Foodi</string>
	<key>PROJECT_ID</key>
	<string>foodi-app-257ca</string>
	<key>STORAGE_BUCKET</key>
	<string>foodi-app-257ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808459620287:ios:710cac2b64ff22d9e8db0a</string>
</dict>
</plist>